#sf{
    background:url(/images/arrow.svg) right;
	background-repeat: no-repeat;
	border:solid 1px;
	height:30px;
	width:230px;
	outline:none;
	background-color:rgb(0, 255, 42);
	color:rgb(49, 14, 177);
	padding-right:7px;
	padding-left:7px;
}
#searchFieldBox{float:left; width:240px;}
#searchBtnBox{float:left; width:27px;}