$mainColor: #B80909;
.intro-components{
    padding: 20px;
    background: $mainColor;
    color: #fff;
    font-family: Courier New, Courier, monospace;
    h1{
      text-transform: lowercase;
    }
}
